<html>
	<head>
		<title>Meant Stack Tutorial</title>
<!--		
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
-->
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
		<script src="/javascripts/angular.min.js"></script>
		<script src="/javascripts/angular-ui-router.min.js"></script>
		<script src="/javascripts/angular-app.js"></script>
		<style>
			.center-block {
				float: none;
			}
		</style>
	</head>
		
	<body ng-app="flapperNews">
		
		<header>
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<div class="navbar-brand">Flapper News</div>						
					</div>
					<ul class="nav navbar-nav pull-right" ng-controller="NavController">
						<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
						<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
						<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
						<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
					</ul>
				</div>
			</nav>
		</header>
		
		<ui-view></ui-view>
		
		<script type="text/ng-template" id="/register.html">
					
			<div ng-show="error" class="alert alert-danger row">
				<span>{{ error.message }}</span>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-5 center-block">
						<form ng-submit="register()"
							style="margin-top:30px;">
							<h3>Register</h3>
						
							<div class="form-group">
							<input type="text"
							class="form-control"
							placeholder="Username"
							ng-model="user.username"></input>
							</div>
							<div class="form-group">
							<input type="password"
							class="form-control"
							placeholder="Password"
							ng-model="user.password"></input>
							</div>
							<button type="submit" class="btn btn-primary">Register</button>
						</form>
					</div>
				</div>
			</div>
			
		</script>

		<script type="text/ng-template" id="/login.html">
					
			<div ng-show="error" class="alert alert-danger row">
				<span>{{ error.message }}</span>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-md-5 center-block">
						<form ng-submit="logIn()"
							style="margin-top:30px;">
							<h3>Log In</h3>
						
							<div class="form-group">
							<input type="text"
							class="form-control"
							placeholder="Username"
							ng-model="user.username"></input>
							</div>
							<div class="form-group">
							<input type="password"
							class="form-control"
							placeholder="Password"
							ng-model="user.password"></input>
							</div>
							<button type="submit" class="btn btn-primary">Log In</button>
						</form>
					</div>
				</div>				
			</div>
			
		</script>
		
	<script type="text/ng-template" id="/posts.html">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-7">
				
					<div class="panel panel-default">
						
						<div class="panel-heading">
							<h3>
								<a ng-show="post.link" href="{{ post.link }}">{{ post.title }}</a>
								<span ng-hide="post.link">{{ post.title }}</span>
							</h3>
						</div>
						
						<div class="panel-body">
							
							<div class="list-group">
							
								<div class="list-group-item" ng-repeat="comment in post.comments | orderBy: '-upvotes'">
								
									<div class="nav nav-pills">
										<span class="label label-info">{{comment.author}}</span>
										
										<span>
											{{comment.body}}	
										</span>
										
										<button class="btn pull-right" ng-click="incrementUpvotes(comment)">
											<span class="glyphicon glyphicon-thumbs-up"></span>
											<span class="badge">{{comment.upvotes}}</span>
										</button>
																				
									</div>
									
								</dv>
							
							</div>				
							
						</div>
						
						<div class="panel-footer">
							<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
							{{ post.upvotes }}							
						</div>
												
					</div>		
				
				</div>
			
			</div>
			
			<div class="col-md-5 well">
		
				<div ng-hide="isLoggedIn()">
					<h3>You must <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
				</div>
			
				<form
					ng-show="isLoggedIn()" 
					ng-submit="addComment()">
				
					<h3>Add a new comment</h3>
				
					<div class="form-group">
						<input type="text" class="form-control"
							placeholder="Comment" ng-model="body">
						</input>
					</div>
					
					<button type="submit" class="btn btn-primary">Post</button>
					
				</form>
			
			</div>			
		
		</div>
		
	</script>	
		
	<script type="text/ng-template" id="/home.html">
	
		<div class="container">
			
			<div class="row">

				<div class="col-md-7">

					<div class="panel panel-default" ng-repeat="post in posts | orderBy: '-upvotes'">
						
						<div class="panel-heading">
							<h3>
								<a ng-show="post.link" href="{{ post.link }}">{{ post.title }}</a>
								<span ng-hide="post.link">{{ post.title }}</span>
							</h3>
						</div>
						
						<div class="panel-body">
							
						</div>
						
						<div class="panel-footer">
							<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
							{{ post.upvotes }}
							
							<span ng-show="post.author">posted by <a>{{ ng.author }}</a></span>
							
							<a href="#/posts/{{post._id}}">Comments</a>
													
						</div>
												
					</div>
					
				</div>
				
				<div class="col-md-5">

					
					<div class="panel panel-default">

						<div class="panel-heading">
							<h4>Submit Post</h4>
						</div>
						
						<div class="panel-body">
						
							<div ng-hide="isLoggedIn()">
								<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
							</div>
						
							<form 
								ng-submit="addPost()"
								ng-show="isLoggedIn()">
								<div class="form-group">
									<input type="text" ng-model="title" placeholder="text" class="form-control"></input>
								</div>
								<div class="form-group">
									<input type="text" placeholder="Link" ng-model="link" class="form-control"></input>
								</div>
								<button class="btn btn-primary" type="submit">Add Post</button>										
							</form>
						</div>
						
<!--
							<div class="panel-footer">

						</div>
-->						
					</div>
					
				</div>
				
			</div>
			
		</div>		
		
	</script>		
		
	</body>
</html>